Este notebook contiene los ejercicios de Pandas:

        Bootcamp of Data Science with Python [+250 exercises][A-Z]

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
dados = {
    'Abacate':{
        2017: 212873,
        2018: 236177,
        2019: 242932
    },    
    'Açaí':{
        2017:1335040,
        2018:1301472,
        2019:1398328
    },
    'Banana':{
        2017:6584967,
        2018:6723590,
        2019:6812708
    },    
    'Cacau':{
        2017:235809,
        2018:239318,
        2019:259425
    },    
    'Laranja':{
        2017:17492882,
        2018:16841549,
        2019:17073593
    },    
    'Maçã':{
        2017:1307642,
        2018:1203007,
        2019:1222970
    },
    'Mamão':{
        2017:1058487,
        2018:1065421,
        2019:1161808
    },    
    'Manga':{
        2017:1089882,
        2018:1320458,
        2019:1414338
    },
 
}
datos = pd.DataFrame(dados)
datos

      Abacate     Açaí   Banana   Cacau   Laranja     Maçã    Mamão    Manga
2017   212873  1335040  6584967  235809  17492882  1307642  1058487  1089882
2018   236177  1301472  6723590  239318  16841549  1203007  1065421  1320458
2019   242932  1398328  6812708  259425  17073593  1222970  1161808  1414338

In [3]:
datos.sum(axis=1)

2017    29317582
2018    28930992
2019    29586102
dtype: int64

In [4]:
datos.sum(axis=0)

Abacate      691982
Açaí        4034840
Banana     20121265
Cacau        734552
Laranja    51408024
Maçã        3733619
Mamão       3285716
Manga       3824678
dtype: int64

In [5]:
datos.describe()

,Abacate,Açaí,Banana,Cacau,Laranja,Maçã,Mamão,Manga
count,3.000000,3.000000e+00,3.000000e+00,3.000000,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00
mean,230660.666667,1.344947e+06,6.707088e+06,244850.666667,1.713601e+07,1.244540e+06,1.095239e+06,1.274893e+06
std,15770.488906,4.918209e+04,1.147638e+05,12743.102618,3.301218e+05,5.555231e+04,5.775489e+04,1.669583e+05
min,212873.000000,1.301472e+06,6.584967e+06,235809.000000,1.684155e+07,1.203007e+06,1.058487e+06,1.089882e+06
25%,224525.000000,1.318256e+06,6.654278e+06,237563.500000,1.695757e+07,1.212988e+06,1.061954e+06,1.205170e+06
50%,236177.000000,1.335040e+06,6.723590e+06,239318.000000,1.707359e+07,1.222970e+06,1.065421e+06,1.320458e+06
75%,239554.500000,1.366684e+06,6.768149e+06,249371.500000,1.728324e+07,1.265306e+06,1.113614e+06,1.367398e+06
max,242932.000000,1.398328e+06,6.812708e+06,259425.000000,1.749288e+07,1.307642e+06,1.161808e+06,1.414338e+06

In [6]:
datos.to_csv('Braz_Food.csv', index=False, sep= ' ')

In [7]:
datos.mean(axis=1)

2017    3664697.75
2018    3616374.00
2019    3698262.75
dtype: float64

In [8]:
datos.mean(axis=0)

Abacate    2.306607e+05
Açaí       1.344947e+06
Banana     6.707088e+06
Cacau      2.448507e+05
Laranja    1.713601e+07
Maçã       1.244540e+06
Mamão      1.095239e+06
Manga      1.274893e+06
dtype: float64

In [9]:
datos.std(axis=1)

2017    5.950079e+06
2018    5.736500e+06
2019    5.799394e+06
dtype: float64

In [10]:
datos.std(axis=0)

Abacate     15770.488906
Açaí        49182.087363
Banana     114763.755264
Cacau       12743.102618
Laranja    330121.785696
Maçã        55552.305950
Mamão       57754.888921
Manga      166958.299241
dtype: float64

In [11]:
datos.var()

Abacate    2.487083e+08
Açaí       2.418878e+09
Banana     1.317072e+10
Cacau      1.623867e+08
Laranja    1.089804e+11
Maçã       3.086059e+09
Mamão      3.335627e+09
Manga      2.787507e+10
dtype: float64

In [14]:
datos2 = pd.DataFrame(data=np.random.normal(10,3,10).round(), 
                      columns=['Daily Sales'],
                      index=pd.date_range(start='12-1-2020', periods=10, freq='D'))
datos2

            Daily Sales
2020-12-01         11.0
2020-12-02          9.0
2020-12-03          4.0
2020-12-04         17.0
2020-12-05          7.0
2020-12-06         12.0
2020-12-07          9.0
2020-12-08         14.0
2020-12-09         13.0
2020-12-10         11.0

In [17]:
datos2.describe().T

             count  mean       std  min  25%   50%    75%   max
Daily Sales   10.0  10.7  3.683296  4.0  9.0  11.0  12.75  17.0

In [20]:
print(datos2.var())
print(datos2.mode())
print(datos2.sum())

Daily Sales    13.566667
dtype: float64
   Daily Sales
0          9.0
1         11.0
Daily Sales    107.0
dtype: float64

In [28]:
print(datos2.loc[datos2['Daily Sales'].idxmin()])
print(datos2.loc[datos2['Daily Sales'].idxmax()])

Daily Sales    4.0
Name: 2020-12-03 00:00:00, dtype: float64
Daily Sales    17.0
Name: 2020-12-04 00:00:00, dtype: float64